<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitWomanManagement">
        <activity
            android:name=".ComparadorFotosActivity"
            android:exported="false" />
        <activity
            android:name=".TomarFotoActivity"
            android:exported="false"
            android:theme="@style/Theme.FitWomanManagement" />
        <activity
            android:name=".fotosProgreso"
            android:exported="false" />
        <activity
            android:name=".editarEntrenamiento"
            android:exported="false" />
        <activity
            android:name=".DetalleEntrenamientoActivity"
            android:exported="false" />
        <activity
            android:name=".crearEntrenamientoActivity"
            android:exported="false" />
        <activity
            android:name=".ListaEntrenamientoActivity"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FitWomanManagement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>